{% extends 'daem.auth/base.html' %}{% load static %}
{% block title %} Login {% endblock %}
{% block css %}
{{ block.super}}
<link href="{% static 'daem.auth/style.css' %}" rel="stylesheet" type="text/css" />
{% endblock css %}
{% block body %}
<form method="post">
{% if form.error_code == 1 %}
	<div id='message_error'>O campo usu&aacute;rio deve ser preenchido</div>
{% elif form.error_code == 2 %}
	<div id='message_error'>O campo senha deve ser preenchido</div>
{% elif form.error_code == 3 %}
	<div id='message_error'>Os campos usu&aacute;rio e senha devem ser preenchidos</div>
{% elif form.error_code == 4 %}
	<div id='message_error'>Usu&aacute;rio inexistente ou senha inv&aacute;lida</div>
{% endif %}
	{% csrf_token %}
{% for field in form %}
	<div>{{ field.label_tag }}</div>
	<div>{{ field }}</div>
{% endfor %}
	<input type="submit" text="Login">
</form>
{% endblock body %}
