{% extends 'LoginSystem\Base.html' %}{% load staticfiles %}
{% include "base.html" %}
{% block title %} Login {% endblock title %}
{% block css %}
<link href="{% static 'style.css' %}" type="text/css" rel="stylesheet" />
{% endblock css %}

{% block body %}
<form method="post">
{% if form.user.errors or form.password.errors %}
	<div id='message_error'>Usu&aacute;rio e/ou senha devem estar preenchido</div>
{% endif %}
	{% csrf_token %}
{% for field in form %}
	<div>{{ field.label_tag }}</div>
	<div>{{ field }}</div>
{% endfor %}
	<input type="submit" text="Login">
</form>
{% endblock body %}
