{% extends "pages/dashboard.html"%}{% load widget_tweaks %}
{% block title %} Cadastrar Documento {% endblock %}
{% block center %}
          <form method="post">
            {% csrf_token %}
            {% for field in form %}
              <label for="{{field.id_for_label}}" class="sr-only">{{ field.label }}</label>
              {% render_field field class+="form-control form-data" placeholder=field.label %}
            {% endfor %}
              <input type="submit" value="Cadastrar" class="btn btn-primary btn-block form-data">
            </form>
{% endblock center %}