{% extends 'daem-body-lc.html' %}{% load static %}{% load widget_tweaks %}
{% block title %} Dashboard {% endblock %}
{% block left %}
      <ul class="nav nav-sidebar">
        <li class="active"><a href="/dash/ocr/upload/">Cirar Documento</a></li>
        <li><a href="/doc/create/">Cadastrar Documento</a></li>
        <li><a href="/dash/ocr/upload/">Criar Documento</a></li>
        <li><a href="/dash/ocr/upload/">Criar Documento</a></li>
      </ul>
{% endblock left %}

{% block center %}
  <h1>Bem Vindo</h1>
{% endblock center %}
